.panel {
  margin: 8px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 340px;
}

.panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

/* Default color if status is not set or unknown */
.panel-header.status-default {
  background-color: #4e7ad0;
}

/* In process status */
.panel-header.status-in-process {
  background-color: #ff9800; /* Orange */
}

/* Completed status */
.panel-header.status-completed {
  background-color: #4caf50; /* Green */
}

.panel-header.status-canceled {
  background-color: #f44336; /* Red */
}

.panel-header .order-number {
  color: white;
}

.panel-header .order-status {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

/* Status text colors */
.status-in-process .order-status {
  color: #ff9800;
}

.status-completed .order-status {
  color: #4caf50;
}

.status-canceled .order-status {
  color: #f44336;
}

.status-default .order-status {
  color: #4e7ad0;
}

.info-table {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 16px;
  color: #4e7ad0;
}

.group {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: #80a9da 2px solid;
  border-radius: 10px;
  max-height: 60px;
  width: 300px;
  margin-bottom: 10px;
}

.group label {
  background-color: #80a9da;
  color: white;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 0 0 5px;
  min-width: 80px;
  max-width: 200px;
  text-align: center;
}

.group p{
  padding: 6px 5px 4px 5px;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.no-data {
  color: #757575;
  font-style: italic;
  font-size: 14px;
}

.inventory-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}

.biomaterial-item-view {
  margin-bottom: 8px;
}
