<section class="filter-section">
  <h4 class="selection-name">{{ sectionName }}</h4>
  <div class="date-filter">
    <div class="date-inputs">
      <mat-form-field appearance="outline">
        <mat-label>Від</mat-label>
        <input matInput
               [(ngModel)]="dateRange[0]"
               (dateChange)="validateDateRange()"
               [matDatepicker]="startPicker">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>До</mat-label>
        <input matInput
               [(ngModel)]="dateRange[1]"
               (dateChange)="validateDateRange()"
               [matDatepicker]="endPicker"
               [min]="dateRange[0]">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-stroked-button (click)="clearDates()" class="clear-button">
      Очистити
    </button>
  </div>
</section>
