<div class="biomaterial-container">
  <div class="header">
    <h3>Біоматеріали</h3>
    <button type="button" class="add-btn" (click)="addBiomaterial()" title="Add biomaterial">
      +
    </button>
  </div>

  <form [formGroup]="biomaterialForm" class="biomaterial-form">
    <div>
      <div formArrayName="biomaterials" class="horizontal-list">
        <div *ngFor="let item of biomaterialArray.controls; let i = index"
             [formGroupName]="i" class="list-item">
          <div class="item-content">
            <select formControlName="biomaterialId" class="compact-select">
              <option [value]="null">-- Вибір --</option>
              <option *ngFor="let biomaterial of availableBiomaterials"
                      [value]="biomaterial.biomaterialId">
                {{ biomaterial.biomaterialName }}
              </option>
            </select>

            <button type="button" class="remove-btn" (click)="removeBiomaterial(i)">
              ×
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
