<div class="panel">
  <div class="panel-big-header">
    <div class="panel-header">
      <h4>{{ laboratory?.address }}</h4>
    </div>
    <div class="panel-subheader">
      <div class="group">
        <label>Місто:</label>
        <p>{{ laboratory?.city?.cityName }}</p>
      </div>
      <div class="group">
        <label>Телефон:</label>
        <p>{{ laboratory?.phoneNumber }}</p>
      </div>
    </div>
  </div>
  <div class="panel-body">
    @if (scheduleData.length) {
      <div class="schedule-container">
        <table class="horizontal-schedule">
          <thead>
          <tr>
            <th class="time-header">Графік роботи</th>
            @for (column of displayedColumns.slice(1); track column) {
              <th class="header-cell">
                {{ getDayName(column) | titlecase }}
              </th>
            }
          </tr>
          </thead>
          <tbody>
            @for (row of scheduleData; track row.time) {
              <tr>
                @for (column of displayedColumns; track column) {
                  @if (column === 'time') {
                    <td class="time-cell">{{ row.time }}</td>
                  } @else {
                    <td class="day-cell">
                      {{ row[column]?.value }}
                    </td>
                  }
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p>Графік роботи відсутній</p>
    }
  </div>
</div>
