.panel {
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-big-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel-header {
  margin-bottom: 5px;
  padding-left: 3px;
}

.panel-header h4 {
  color: #333;
  padding-top: 7px;
}

.panel-subheader {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.group {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  border: #80a9da 2px solid;
  border-radius: 10px;
}

.panel-subheader label {
  background-color: #80a9da;
  color: white;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  min-width: 40px;
  max-width: 120px;
}

.panel-subheader p {
  padding: 6px 5px 4px 5px;
  font-size: 14px;
}

.schedule-container {
  overflow-x: auto;
  margin-top: 10px;
  border: 1px solid #80a9da;
  border-radius: 9px;
  font-size: 12px;
}

.horizontal-schedule {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.time-header {
  background-color: #80a9da;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 12px;
  font-size: 1.1em;
  border: 1px solid #80a9da;
}

.header-cell {
  background-color: #aad7f8;
  font-weight: normal;
  padding: 8px 0;
  text-align: center;
  min-width: 80px;
  border: 1px solid #80a9da;
}

.time-cell {
  background-color: #aad7f8;
  font-weight: 500;
  padding: 8px 0 8px 12px;
  white-space: nowrap;
  border: 1px solid #80a9da;
}

.day-cell {
  text-align: center;
  padding: 8px 0;
  border: 1px solid #80a9da;
}

/* Edit mode styles */
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: #80a9da 2px solid;
  border-radius: 10px;
  background-color: #80a9da;
  width: 100%;
  height: 100%;
}

.form-group label {
  font-weight: 600;
  color: white;
  padding: 10px 5px 5px 5px;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  min-width: 70px;
}

.edit-input {
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 14px;
}

.edit-input.name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.edit-select {
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 10px 10px 10px 10px;
  font-size: 14px;
  margin: 0 5px 5px 5px;
  width: calc(100% - 10px);
}

.lab-schedule-create-view{
  overflow-x: auto;
  border: 1px solid #80a9da;
  border-radius: 12px;
}

.address-input {
  flex: 1;
}

.panel-header.edit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.save-button {
  background-color: #28a745;
  color: white;
  border: 1px solid #13832c;
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.save-button:disabled {
  background-color: #c3e6cb;
  color: #6c757d;
  cursor: not-allowed;
  border-color: #8fd19e;
}

.save-button .button-icon {
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.save-button p {
  margin: 0;
  font-size: 12px;
  padding-top: 2px;
}

.save-button:hover {
  background-color: #218838;
}

.save-button:active {
  background-color: #1e7e34;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.edit-btn {
  margin-left: auto;
  background-color: #ffc107;
  border: 1px solid #c69906;
  border-radius: 10px;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.edit-btn:hover {
  background-color: #e0a800;
  border-color: #d39e00;
  color: #fff;
}

.edit-btn:active {
  background-color: #c69500;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 20px;
}

.edit-grid {
  width: 100%;
}

.schedule-form-group {
  padding: 10px;
}

.schedule-form-group label {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .panel-header.edit {
    flex-direction: column;
    align-items: flex-start;
  }

  .address-input {
    width: 100%;
  }

  .edit-input.name {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
