<app-generic-list-view
  [items]="filteredLaboratories"
  [pageName]="pageName"
  [searchPlaceholder]="searchPlaceholder"
  [searchTerm]="searchTerm"
  (searchTermChange)="onSearch($event)"
  [filtersTitle]="filtersTitle"
  [canCreate]="canCreate()"
  [emptyListMessage]="emptyListMessage"
  [trackByFn]="trackByLaboratoryId"
  [useLocalSearch]="true">

  <!-- Custom Item Template -->
  <ng-template #itemListTemplate>
    @for (laboratory of filteredLaboratories; track trackByLaboratoryId($index, laboratory)) {
      <app-laboratory-view [laboratory]="laboratory"></app-laboratory-view>
    } @empty {
      <h1 class="empty-list-message">{{ emptyListMessage }}</h1>
    }
  </ng-template>

  <!-- Custom Filters Template -->
  <ng-template #filtersTemplate>
    <app-type-filter
      sectionName="Міста:"
      [items]="cityItems"
      [selectedItems]="selectedCities"
      (itemToggled)="toggleCity($event)">
    </app-type-filter>

    <!-- still does not work correctly -->
    <app-schedule-filter
      sectionName="Графік роботи:"
      [schedules]="schedules"
      (filterChanged)="toggleSchedule($event)"
    >
    </app-schedule-filter>
  </ng-template>
</app-generic-list-view>
