<div class="panel">
  <div class="panel-header" [ngClass]="getStatusClass(order.status.statusName)">
    <h3 class="order-number">№ {{ order.number }}</h3>
    @if (order.status) {
      <div class="order-status">
        <h4 class="status-name">{{ order.status.statusName }}</h4>
      </div>
    }
  </div>

  <div class="info-table">
    <h4 class="title">Інформація</h4>

    <table mat-table [dataSource]="[order]">
      <!-- Date Column -->
      <ng-container matColumnDef="collectionDate">
        <th mat-header-cell *matHeaderCellDef>Дата збору біоматеріалу</th>
        <td mat-cell *matCellDef="let element">
          @if (element.biomaterialCollectionDate) {
            {{ element.biomaterialCollectionDate | date:'HH:mm, dd.MM.yyyy' }}
          } @else {
            <span class="no-data">Не вказано</span>
          }
        </td>
      </ng-container>

      <!-- Employee Column -->
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef>Працівник</th>
        <td mat-cell *matCellDef="let element">
          <div class="employee-info">
            @if (element.employee) {
              <span>{{ element.employee.firstName }} {{ element.employee.lastName }}</span>
            } @else {
              <span class="no-data">Не вказано</span>
            }
          </div>
        </td>
      </ng-container>

      <!-- Client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Клієнт</th>
        <td mat-cell *matCellDef="let element">
          <div class="client-info">
            @if (element?.client) {
              <span>{{ element?.client?.firstName }} {{ element.client.lastName }}</span>
            } @else {
              <span class="no-data">Не вказано</span>
            }
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="order-analyses">
      <h4 class="title">Аналізи</h4>
      <div class="analysis-list">
        @for (orderAnalysis of order.orderAnalyses; track orderAnalysis.orderAnalysisId) {
          <div class="item" [attr.data-analysis-id]="orderAnalysis.orderAnalysisId">
            <span class="analysis-name">{{ orderAnalysis.analysis.name }}</span>
            <span class="analysis-price">{{ orderAnalysis.analysis.price }}</span>
            @if (orderAnalysis.analysisResults! && orderAnalysis.analysisResults!.length > 0) {
              <button class="result-button"
                      (click)="showAnalysisResults(orderAnalysis.analysisResults!, orderAnalysis); $event.stopPropagation()">
                <mat-icon class="result">assignment_turned_in</mat-icon>
              </button>
            }
          </div>
        } @empty {
          <div class="no-data-container">
            <span class="no-data">Не вказано</span>
          </div>
        }
      </div>
    </div>
    <div class="biomaterial-collection">
      <h4 class="title">Біоматеріали</h4>
      <div class="biomaterial-list">
        @for (bc of order.biomaterialCollections; track bc.biomaterialCollectionId) {
          <div class="item">
            <p class="biomaterial-name">{{ bc.biomaterial.biomaterialName }}</p>
            <p class="biomaterial-volume">{{bc.volume}} мл</p>
          </div>
        } @empty {
          <div class="no-data-container">
            <span class="no-data">Не вказано</span>
          </div>
        }
      </div>
    </div>
    <div class="order-price">
      <h4 class="title">Загальна вартість</h4>
      @if (order.fullprice) {
        <h2 class="price-value">{{ order.fullprice }} грн</h2>
      } @else {
        <h3 class="no-data">Не вказано</h3>
      }
    </div>
  </div>

  @if (selectedAnalysisResults && selectedOrderAnalysis) {
    <div class="results-modal-container">
      <div class="results-modal-backdrop" (click)="closeResultsModal()">
        <div class="results-modal-content"
             (click)="$event.stopPropagation()">
          <div class="modal-header">
            <h3>Результати аналізу: {{selectedOrderAnalysis!.analysis.name}}</h3>
            <button mat-icon-button (click)="closeResultsModal()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="results-list">
            @for (result of selectedAnalysisResults; track result.analysisResultId) {
              <app-analysis-result-view [analysisResult]="result"></app-analysis-result-view>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>

