<div class="panel">
  <div class="panel-header">
    <h2>{{analysis.name}}</h2>
  </div>
  <div class="panel-subheader">
    <div class="group">
      <label>Категорія:</label>
      <p>{{analysis.category.category}}</p>
    </div>
    <div class="group">
      <label>Біоматеріали:</label>
      @for (analysisBiomaterial of analysis.analysisBiomaterials; track analysisBiomaterial.biomaterial) {
        <p class="group-item">{{ analysisBiomaterial.biomaterial.biomaterialName }}</p>
      } @empty {
        <p>There are no biomaterials.</p>
      }
    </div>
  </div>
  <div class="panel-body">
    <div class="description">
      <p>{{analysis.description}}</p>
    </div>
    <button class="price" (click)="onPriceClick()">
      <span class="price-value">{{ analysis.price }}</span>
      <span class="price-currency"> грн</span>
    </button>
  </div>
</div>
